@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.font-russo {
  font-family: "Russo One", sans-serif;
  font-style: normal;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.scrollbar ::-webkit-scrollbar {
  width: 5px;
}

.scrollbar ::-webkit-scrollbar-thumb {
  background: #cbcaca;
  border-radius: 50px;
}

.scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #6d6b6b;
}

.scrollbar ::-webkit-scrollbar-track {
  background: #4a4848;
  border-radius: 50px;
}

@font-face {
  font-family: MrRobot;
  src: url(./assets/mrRobot.ttf) format("truetype")
}

.font-MrRobot {
  font-family: MrRobot;
  font-style: normal;
}